:root{
    --bg01:linear-gradient(180deg,
                          #22262A 0%,
                          #181A1D 100%);
    --bg02:linear-gradient(135deg,
                           #2F3439,
                           #1D1F23);
    --bg03:linear-gradient(135deg,
                         #2F3439,
                         #1D1F23); 
    --bg04:#040404;
    --border01:#22262A;
    --border02:#1A1D21;
    
    --box-shadow01:6px 6px 10px #151618,
     -6px -6px 10px #2c3136,
     inset 2px 2px 6px #33353b,
     inset -3px -3px 6px #151618;

     --box-shadow02:-6px -6px 10px #151618,
     6px 6px 10px #2c3136,
     inset 2px 2px 6px #33353b,
     inset -3px -3px 6px #151618;
     
     --box-shadow03:6px 6px 12px #151618,
     -6px -6px 12px #2c3136;

     --box-shadow04:
     inset 2px 2px 3px -2px rgba(167,169,171,.322),
     inset 0px -1px 1px 0px #4a4c4e;

     --box-shadow05:8px 8px 12px #151618,
     -2px -2px 10px #2c3136,
     inset 2px 2px 3px #33353b,
     inset -2px -2px 3px #151618;

     --box-shadow06:10px 10px 12px #151618,
     -10px -10px 12px #222529,
     inset 4px 4px 8px #33353b,
     inset -4px -4px 8px #151618;

     --box-shadow07:10px 10px 12px #151618,
     -10px -10px 12px #222529,
     inset -4px -4px 8px #33353b,
     inset 4px 4px 8px #151618;
     


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
}

body{
    font-family: 'Lato',sans-serif;
    background-image: var(--bg01);
}
.wrapper{
    max-width: 900px;
    height: 100vh;
    text-align: center;
    padding: 2rem;
    overflow: hidden;
    margin: 0 auto;
    
    header,
    .song-timer,
    .controls{
       display: flex;
       justify-content: space-between;
       align-items: center;
       text-align: center;
       
    }
    header{
        .hdbtn{
           background: var(--bg02);
           border: 2px solid var(--border01);
           box-shadow: var(--box-shadow01);
           width: 52px;
           height: 52px;
           line-height: 52px;
           color: #86898c;
           font-size: 22px;
           border-radius: 50%;
           transition: all .3s ease;
           &:active{
            box-shadow: var(--box-shadow02);
           }
        }
        h3{
            text-transform: uppercase;
            font-size: 14px;
            color: #86898c;
        }
    }
    .player{
        margin-top: 2rem;
        
        
        
        img{
            width: 14rem;
            height: 14rem;
            border-radius: 50%;
            margin-bottom: 2rem;
            object-fit: cover;
            border: 10px solid var(--border02);
            box-shadow: var(--box-shadow03);
        }
        .name{
            color:#a7a9ab ;
            font-size: 1.5rem;
            text-transform: capitalize;
        }
        .artist{
            color: #7c7d80;
            font-size: 14px;
            text-transform: capitalize;
            padding: 10px 0 20px 0;
        }
        .audioC{
            margin: 30px 0px 30px 0px;
            .song-timer{
                margin-bottom: 20px;
                span{
                    font-size: 10px;
                    color: #7c7d80;
                    font-weight: 800;
                    user-select: none;
                }
            }
        }
        .progress-area{
            height: 7px;
            width: 100%;
            border-radius: 50px;
            background:var(--bg04);
            box-shadow: var(--box-shadow04);
            cursor: pointer;
            .progress-bar{
                height: inherit;
                width: 0;
                position: relative;
                border-radius: inherit;
                background: linear-gradient(90deg,
                                          #bf2311 0%,
                                          #e1530a 100%);
                box-shadow: var(--box-shadow04);
                &::before{
                    content: '';
                    position: absolute;
                    background: var(--bg02);
                    box-shadow: var(--box-shadow05);
                    border-radius: 50%;
                    top: 50%;
                    right: -14px;
                    z-index: 2;
                    width: 28px;
                    height: 28px;
                    outline: none;
                    border: none;
                    pointer-events: none;
                    transform: translateY(-50%);
                    transition: all .2s ease;
                }
                &::after{
                    content: '';
                    position: absolute;
                    background: #e1530a;
                    box-shadow: var(--box-shadow05);
                    border-radius: 50%;
                    top: 50%;
                    right: -5px;
                    z-index: 2;
                    width: 10px;
                    height: 10px;
                    outline: none;
                    border: none;
                    pointer-events: none;
                    transform: translateY(-50%);
                    transition: all .2s ease;
                }
            }
        }
        .controls{
            margin:0px 8px 5px 8px ;
            
            .btnC{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: 3px solid var(--border02);
                background: var(--bg03);
                box-shadow: var(--box-shadow06);
                &:active{
                    box-shadow: var(--box-shadow07);
                }

            }
            i{
                font-size: 20px;
                user-select: none;
                color: #a7a9a7;
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
            }
            .play-pause{
                width: 80px;
                height: 80px;
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 3px solid #c34b03;
                background: linear-gradient(135deg,
                                            #bd2210,
                                            #e5550b);
                                            box-shadow: 10px 10px 12px #151618,
                                                        -10px -10px 12px #222529,
                                                        inset 4px 4px 8px #e5550b,
                                                        inset -4px -4px 8px #bd2210;
                &:active{
                    box-shadow:10px 10px 12px #151618,
                               -10px -10px 12px #222529,
                               inset -10px -10px 8px #e5550b,
                               inset 10px 10px 8px #bd2210; 
                }                                          
                i{
                    text-align: center;
                    color: #fff;
                }
            }
        }
    }
}

.rotate{
    animation: rotation 8s infinite linear;
    transform-origin: center;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate((359deg));
    }
}